{% extends "base.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">

    <div class="card shadow-sm">
      <div class="card-body">

        <h3 class="mb-4 text-center">Your Tasks</h3>

        
        
        <form action="{{ url_for('tasks.add_tasks') }}" method="POST" class="d-flex mb-3">
          <input 
            type="text" 
            name="title" 
            class="form-control me-2"
            placeholder="New task"
            required
          >
          <button type="submit" class="btn btn-primary">
            Add
          </button>
        </form>

        {% if tasks %}

        
        <form method="POST" action="{{ url_for('tasks.clear_tasks') }}" class="mb-3 text-end">
          <button type="submit" class="btn btn-danger btn-sm">
            Clear All
          </button>
        </form>

        
        <table class="table table-bordered table-hover text-center align-middle">
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            {% for task in tasks %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ task.title }}</td>
              <td>
                <span class="badge 
                  {% if task.status == 'Pending' %}bg-warning
                  {% elif task.status == 'Done' %}bg-success
                  {% else %}bg-secondary{% endif %}
                ">
                  {{ task.status }}
                </span>
              </td>
              <td>
                <form 
                  action="{{ url_for('tasks.toggle_status', task_id=task.id) }}" 
                  method="POST"
                >
                  <button type="submit" class="btn btn-sm btn-outline-primary">
                    Next
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% else %}
          <p class="text-muted text-center">No tasks yet.</p>
        {% endif %}

      </div>
    </div>

  </div>
</div>
{% endblock %}